# Introduzione a Python e Data Science al corso Gnu/Linux
by Stefania Delprete  
EA Italy ([Altruismo Efficace](https://altruismoefficace.it)), EA Data Science/ML/AI  
‚úâÔ∏è [astrastefania@gmail.com](mailto:twitter.com/astrastefania) 
üë• [linkedin.com/in/astrastefania](https://www.linkedin.com/in/astrastefania)  

---

# Esercitazione (senza soluzioni)

---


## Concetti di Python

#### 1. Elenca almeno tre caratteristiche fondamentali di *Python* (elenco numerato)-

#### 2. Quali due comandi puoi usare per avere informazioni di oggetti (tutti i metodi disponibili) e funzioni definite (per vederne la documentazione)?

#### 3. Elenca meno due tipi di oggetti built-in immutabili e due mutabili in Python

####4. Crea e manipola un dizionario
1. Dichiara un dizionario col nome `fonetico` con cinque copie chiavi valori:   
    * A 	Alfa
    * B 	Bravo
    * C 	Charlie
    * D 	Delta 
    * E 	Echo

    
    
2. Stampa il valore corrispondendente alla chiave `'C'`
3. Aggiungi la coppia chiave valore F Foxtrot
4. Mostra le sole chiavi con un solo comando

#### 5. Crea un ciclo for
Per ogni elementi del dizionario `fonetico` dichiarato sopra mi stampi la stringa del tipo
"A √® alpha."

#### 6. Crea e stampa una list comprehension
1. Dichiara la lista col nome `quattro` di cui tutti i numeri divisibili per 4 da 0 a 52 compreso
2. Stampa la lista creata
3. Stampa la lunghezza della lista

_Ripassatevi bene anche le dictionary comprehension!_

#### 7. Crea una condizione IF tale che:
1. Data una distanza dalla terra di 100 km assegnata alla variabile `dist_km`
2. Stampi la seguenti stringhe:
    * "Sei nella troposfera" se `dist_km` √® compresa fra 0 e 10 km
    * "Sei nella stratosfera" se `dist_km` √® compresa fra 11 e 50 km
    * "Sei nella mesosfera" se `dist_km` √® compresa fra 51 e 80 km
    * "Sei nella termosfera" se `dist_km` √® compresa fra 81 e 500 km
    * "Sei nell'esosfera" se `dist_km` √® compresa fra 501 e 10000 km
    * "Non dove sei!" in tutti gli altri casi

#### 8. Crea e richiama una funzione
1. Implementa in una funzione `dove_sono` contenente la condizione IF della domanda 7., in modo che `dist_km` diventi l'argomento.
2. Richiama la funzione creata per gli argomenti 44, 222, 1111 e 55555.

## Concetti di Statistica e Data Science

#### 1. Qual √® la differenza principale fra statistica descrittiva e inferenziale?

#### 2. Quali sono le fasi di un progetto di Data Science? Crea un elenco numerato.

#### 3. Indica almeno tre rappresentazioni grafiche usate in Data Science. Crea un elenco non numerato.

#### 4. Quali indici di posizione vengono utilizzati in un grafico boxplot?

#### 5. Definisci un outlier

## Computazione matematica

#### 6. Importa la libreria `numpy` con l'alias che abbiamo usato a lezione

In [1]:
import numpy as np

#### 7. Salva una lista e un NumPy array contenenti cinque valori di tipo `float`. Poi stampa entrambi.

#### 8. Qual √® da differenza fra un NumPy array e una lista?

#### 9. Usando NumPy, calcola la media e la mediana del NumPy array del punto 7.

#### 10. Arrotonda la differenza fra mediana e media del punto 9. a tre decimali.

#### 11. Crea una matrice con 8 colonne e 6 righe con valori casuali e visualizzala

#### 12. Dalla matrice del punto 11. seleziona la sotto matriche formata dalla prime 3 righe e le ultime 2 colonne.

---

## Importazione, esplorazione e manipolazione di dataset

#### 13. Importa la libreria `pandas` con l'alias con l'alias che abbiamo usato a lezione

#### 14. Importa il file `forbes_billionaires_2020.csv` con l'opportuno modulo della libreria pandas Pandas


Nomina il dataframe `forbes`

#### 15. Visualizzare il numero di osservazioni (righe) e variabili (colonne) sono presenti in `forbes`

#### 16. Visualizza con un comando informazioni su numero di valori e tipo di ciascuna variabile

#### 17. Visualizza le le ultime quattro osservazioni e le prime otto osservazioni
Usa due comandi separatamente.

#### 18. Visualizza i maggiori indici di posizione del dataframe `forbes` richiamando un solo modulo sul dataframe

#### 19. Seleziona colonna della variabile `Net Worth $B` e mostra i primi 10 valori / righe

#### 20. Rinomina la colonna 'Net Worth $B' col nome 'NW_Bd' e la colonna 'Country/Territory' col nome 'Place'.
Usiamo Bd intendendo Bilion dollars.

#### 21. Utilizzo di `.iloc` e `.loc` 
Visualizza solo le osservazioni/righe dalla 22 alla 31 e le ultime tre variabili/colonne usando propriamente **entrambi** i metodi `.iloc` e `.loc`

#### 22. Conta i valori delle ricorrenze della colonna 'Industries' 

Quale valore compare pi√π volte?

#### 23. Seleziona solo le righe aventi la colonna 'Industries' col valore di 'Real Estate', e mostra le prima 20 righe

#### 24. Quanti valori unici ha la colonna 'Place' (rinominata al punto 20.)?

#### 25. Seleziona solo le righe con valori della colonna 'NW_Bd' strettamente maggiori di 2.5 e strettamenet minori di 3.3.

Quante righe otteniamo?

#### 26. Chi sono le prime 10 persone pi√π ricche nel settore ('Industries') 'Technology' che vivono ('Place') in 'United States'?

## 27. Quale 'Industries' conta pi√π valori per gli italiani pi√π ricchi in questo dataset?

Puoi prima selezionare e salvare chi ha 'Place' di valore 'Italy', e poi contare i valori per colonna 'Indutries'.

#### 28. Crea una nuova colonna chiamata 'NW_Be' che tramite `.apply()` e una `lambda` che converta da dollari (colonna 'NW_Bd') a euro e arrotondi a due decimali.

Al momento 1 dollaro √® 0.9363 euro.  
Quindi 15 dollari sono 14.0445 euro (15 * 0.9363).

#### 29. Quali sono i valori di minimo e massimo della nuova colonna 'NW_Be'?

#### 30. Riordina il dataset dal pi√π giovane al pi√π vecchio (colonna 'Age'), e mostrane le prima 20 righe.

---

## Rappresentazioni grafiche

Attenzione: aggiungere sempre il titolo e le label x e y dov'√® possibile o non automatizzato.

#### 31. Importa la libreria `matplotlib.pyplot` con l'alias che abbiamo usato a lezione

#### 32. Crea e visualizza un grafico a dispersione fra le variabili `Age` e `NW_Bd`
Setta il paramentro `alpha` a 0.3, e il colore `c` come 'green'

#### 33. Crea un boxplot della distribuzione di new worth ($B) in Norvegia

Prima seleziona per valori di 'Place' di valore 'Norway', quante righe abbiamo?

#### 34. Crea e visualizza un grafico istogramma della variabile `Age`
Setta il parametro `bins` uguale a 30

#### 35. Importa la libreria `Seaborn` con l'alias con l'alias che abbiamo usato a lezione

#### 36. Crea e visualizza nuovamente il grafico istogramma della variabile `age` con Seaborn

Imposta lo stile `'darkgrid'`

#### 37. Crea uno scatterplot che mostri la correlazione fra 'Age' e 'NW_Bd' colorandola per settore ('Indutries').

Sposta la legenda (`plt.legend()`) fuori dal grafico con l'argomento 
`bbox_to_anchor` uguale al valore `(1.05, 1)`

#### 38. Crea uno scatterplot che mostri solo per et√† sotto i 40 anni la correlazione fra 'Age' e 'NW_Bd' colorandola per luogo di origine ('Place').

Attenzione a selezionare solo i dati con 'Age' strettamente minore a 40.

Sposta la legenda (`plt.legend()`) fuori dal grafico con l'argomento 
`bbox_to_anchor` uguale al valore `(1.05, 1)`

#### 39. Crea un istogramma della New Worth per valori sopra ai 9 miliardi di dollari.

Salva prima le selezione in un nuovo DataFrame, quanti righe rimangolo?  
Crea l'istogramma.

#### 40. Bonus: argomenta altri prossibili scenari da esplorare o/e visualizza altri grafici commentati